
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.container {
    display: grid;
    /height: 100vh;
    grid-template-areas: 
        "logo searchbar options"
        ". nav ."
        ". numresults ."
        ". results ."
        ". relRes ."
        ". searchNav ."
        "footer footer footer";
        
    
    grid-template-columns: auto minmax(min-content, 600px) 1fr;
    grid-template-rows: 37px 58px 43px auto auto 55px 82px;
    justify-content: flex-start;
    align-items: start;
}

.logo{
    grid-area: logo;
}

.left{
    display:flex;
}

.right{
    display:flex;
}


.searchbar {
    display:flex;
    grid-area: searchbar;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    height: 44px;
    width: 484px;
}

.searchtext {
    height: 44px;
    width: 80%;
    border: none;
}


.options{
    grid-area: options;
    display:flex;
    justify-content: right;
}

#appsBut{
    width: 30px;
    height: 30px;
    padding-left: 0;
    background-image: url('http://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    
}

.nav{
    grid-area: nav;
    display:flex;
    justify-content: space-between;
}

.numresults{
    grid-area: numresults;
    
}

.results{
    grid-area: results;
    display:flex;
    flex-direction: column;

}

.relRes{
    grid-area: relRes;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

}

.searchNav{
    grid-area: searchNav;
    display:flex;

}


.footer {
    grid-area: footer;
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
    border: 1px solid #e4e4e4;
    display: flex;
    flex-direction: column;
    align-self: stretch;

}

.footer p{
    align-self: center;
}

.location{
    float: left;
    justify-items: center;

    font-size: 1.2em;
    border-bottom: 1px solid #e4e4e4;
    flex: 1;
    display:flex;
}

.footerNav{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    
    flex: 1;
    display:flex;
}